
body {
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  color: #67696c;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.section-padding {
  padding: 60px 0px;
}

.header {
  background-image: linear-gradient( #000000 3.28% ,#002347 68.98% ,#002B58 100% );
  background-size: cover;
  min-height: 650px;
  position: relative;
}

.bg-color {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 650px;
}


.navbar-default {
  background-color: transparent;
  border: 0px;
  padding: 20px 0;
  transition: all 0.3s;
}

@media (max-width: 768px) {
	.navbar-collapse {
		background: rgba(64, 75, 97, 0.9);
    border-top: 0;
	}
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #002F2F;
}

.top-nav-collapse {
  padding: 0;
  background: rgba(64, 75, 97, 0.9);
}

.logo-dec {
  color: #be9e21;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
}

.navbar-brand {
  padding: 0px;
  font-size: 24px;
  text-transform: uppercase;
  padding: 15px 0px;
  margin-top: 6px;
}

.navbar-default .navbar-nav>li>a {
  padding: 5px 10px;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #be9e21;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  background-color: transparent;
  color: #be9e21;
}

.banner-info {
  padding-top: 140px;
  color: #fff;
}

.bnr-title, .bnr-sub-title {
  font-family: 'Fira Sans', sans-serif;
}

h1.bnr-title {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2.bnr-sub-title {
  font-size: 45px;
  text-transform: uppercase;
  padding: 20px 0px;
  font-weight: 700;
}

.bnr-para {
  font-weight: 300;
}














